@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian Mono', monospace;
}

h1 {
    font-size: 100px;
}

body {
    overflow: hidden;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
}

section#intro {
    background-color: black;
    color:aliceblue;
}

section#intro h1 {
    margin: 50px
}

section#first h1 {
    font-family: 'Shadows Into Light', cursive;
}

.counter {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 30px;
}